@use "variables";

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: unset;
}

.js-rem-example {
  height: 1rem;
  position: absolute;
  visibility: hidden;
}

html {
  scroll-behavior: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  //font-size: 0.69vw;  //1440
  font-size: 0.52vw; //1920
}

@media (max-width: variables.$mobile) {
  html {
    font-size: 2.77vw;
  }
}

input {
  margin: 0;
  padding: 0;
  outline: none;
  border-color: transparent;
}

main, img {
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

picture img {
  width: 100%;
}

ul {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

button {
  background: transparent;
  outline: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  text-decoration: inherit;
  text-transform: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border-color: transparent;
}

main {
  margin: 10.6rem auto 0;
}

._width-sizer {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

._mobile {
  display: none;
}

._underlined {
  position: relative;

  &:after {
    width: 100%;
    position: absolute;
    height: .1rem;
    bottom: 0.1rem;
    background: variables.$black;
    content: " ";
    display: block;
  }
}

._section-title {
  text-transform: uppercase;
  font-family: variables.$font-semi;
  font-size: 3.2rem;
  line-height: 4.8rem;

  @media (max-width: variables.$mobile) {
    font-size: 2.8rem;
    line-height: 4.2rem;
  }
}

.js-rem-example {
  height: 1rem;
  position: absolute;
  visibility: hidden;
}

._black-nav-btn.swiper-button-next, ._black-nav-btn.swiper-button-prev {
  fill: variables.$black;
  width: 2.8rem;
  height: 2.8rem;
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: variables.$mobile) {
    width: 3rem;
    height: 1.2rem;
  }

  &:after {
    display: none;
  }
}

._black-nav-btn.swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6865 3L23.0002 14.3137L11.6865 25.6274' stroke='%23001D0B' stroke-width='3'/%3E%3C/svg%3E%0A");
  @media (max-width: variables.$mobile) {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='12' viewBox='0 0 30 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.54076 6.00006C0.54076 5.8343 0.606609 5.67533 0.72382 5.55812C0.84103 5.44091 1 5.37506 1.16576 5.37506H27.6161L23.6824 1.44256C23.6242 1.38445 23.5782 1.31546 23.5467 1.23954C23.5153 1.16361 23.4991 1.08224 23.4991 1.00006C23.4991 0.917877 23.5153 0.836502 23.5467 0.760578C23.5782 0.684654 23.6242 0.615667 23.6824 0.557557C23.7405 0.499447 23.8095 0.453352 23.8854 0.421903C23.9613 0.390454 24.0427 0.374268 24.1249 0.374268C24.207 0.374268 24.2884 0.390454 24.3643 0.421903C24.4403 0.453352 24.5093 0.499447 24.5674 0.557557L29.5674 5.55756C29.6256 5.61561 29.6717 5.68458 29.7033 5.76052C29.7348 5.83645 29.751 5.91785 29.751 6.00006C29.751 6.08227 29.7348 6.16367 29.7033 6.2396C29.6717 6.31553 29.6256 6.3845 29.5674 6.44256L24.5674 11.4426C24.5093 11.5007 24.4403 11.5468 24.3643 11.5782C24.2884 11.6097 24.207 11.6258 24.1249 11.6258C24.0427 11.6258 23.9613 11.6097 23.8854 11.5782C23.8095 11.5468 23.7405 11.5007 23.6824 11.4426C23.6242 11.3844 23.5782 11.3155 23.5467 11.2395C23.5153 11.1636 23.4991 11.0822 23.4991 11.0001C23.4991 10.9179 23.5153 10.8365 23.5467 10.7606C23.5782 10.6847 23.6242 10.6157 23.6824 10.5576L27.6161 6.62506H1.16576C1 6.62506 0.84103 6.55921 0.72382 6.442C0.606609 6.32479 0.54076 6.16582 0.54076 6.00006Z' fill='black'/%3E%3C/svg%3E ");
  }
}

._black-nav-btn.swiper-button-next._reverse-styles {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='12' viewBox='0 0 30 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.54076 6.00006C0.54076 5.8343 0.606609 5.67533 0.72382 5.55812C0.84103 5.44091 1 5.37506 1.16576 5.37506H27.6161L23.6824 1.44256C23.6242 1.38445 23.5782 1.31546 23.5467 1.23954C23.5153 1.16361 23.4991 1.08224 23.4991 1.00006C23.4991 0.917877 23.5153 0.836502 23.5467 0.760578C23.5782 0.684654 23.6242 0.615667 23.6824 0.557557C23.7405 0.499447 23.8095 0.453352 23.8854 0.421903C23.9613 0.390454 24.0427 0.374268 24.1249 0.374268C24.207 0.374268 24.2884 0.390454 24.3643 0.421903C24.4403 0.453352 24.5093 0.499447 24.5674 0.557557L29.5674 5.55756C29.6256 5.61561 29.6717 5.68458 29.7033 5.76052C29.7348 5.83645 29.751 5.91785 29.751 6.00006C29.751 6.08227 29.7348 6.16367 29.7033 6.2396C29.6717 6.31553 29.6256 6.3845 29.5674 6.44256L24.5674 11.4426C24.5093 11.5007 24.4403 11.5468 24.3643 11.5782C24.2884 11.6097 24.207 11.6258 24.1249 11.6258C24.0427 11.6258 23.9613 11.6097 23.8854 11.5782C23.8095 11.5468 23.7405 11.5007 23.6824 11.4426C23.6242 11.3844 23.5782 11.3155 23.5467 11.2395C23.5153 11.1636 23.4991 11.0822 23.4991 11.0001C23.4991 10.9179 23.5153 10.8365 23.5467 10.7606C23.5782 10.6847 23.6242 10.6157 23.6824 10.5576L27.6161 6.62506H1.16576C1 6.62506 0.84103 6.55921 0.72382 6.442C0.606609 6.32479 0.54076 6.16582 0.54076 6.00006Z' fill='black'/%3E%3C/svg%3E ");
  @media (max-width: variables.$mobile) {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6865 3L23.0002 14.3137L11.6865 25.6274' stroke='%23001D0B' stroke-width='3'/%3E%3C/svg%3E%0A");
  }

  &._green {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7071 8.7071C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928931C13.9526 0.538407 13.3195 0.538407 12.9289 0.928931C12.5384 1.31946 12.5384 1.95262 12.9289 2.34314L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.7071ZM8.74228e-08 9L20 9L20 7L-8.74228e-08 7L8.74228e-08 9Z' fill='%23549D60'/%3E%3C/svg%3E%0A");
    @media (max-width: variables.$mobile) {
      background-position: right;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='26' viewBox='0 0 16 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.68652 2L13.0002 13.3137L1.68652 24.6274' stroke='%2395C19C' stroke-width='3'/%3E%3C/svg%3E%0A");
    }
  }
}

._black-nav-btn.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3135 3L4.99977 14.3137L16.3135 25.6274' stroke='%23001D0B' stroke-width='3'/%3E%3C/svg%3E%0A");
  @media (max-width: variables.$mobile) {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='12' viewBox='0 0 30 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.4592 6.00006C29.4592 5.8343 29.3934 5.67533 29.2762 5.55812C29.159 5.44091 29 5.37506 28.8342 5.37506H2.38389L6.31764 1.44256C6.37575 1.38445 6.42185 1.31546 6.45329 1.23954C6.48474 1.16361 6.50093 1.08224 6.50093 1.00006C6.50093 0.917877 6.48474 0.836502 6.45329 0.760578C6.42185 0.684654 6.37575 0.615667 6.31764 0.557557C6.25953 0.499447 6.19054 0.453352 6.11462 0.421903C6.0387 0.390454 5.95732 0.374268 5.87514 0.374268C5.79296 0.374268 5.71159 0.390454 5.63566 0.421903C5.55974 0.453352 5.49075 0.499447 5.43264 0.557557L0.432641 5.55756C0.374437 5.61561 0.328258 5.68458 0.29675 5.76052C0.265242 5.83645 0.249023 5.91785 0.249023 6.00006C0.249023 6.08227 0.265242 6.16367 0.29675 6.2396C0.328258 6.31553 0.374437 6.3845 0.432641 6.44256L5.43264 11.4426C5.49075 11.5007 5.55974 11.5468 5.63566 11.5782C5.71159 11.6097 5.79296 11.6258 5.87514 11.6258C5.95732 11.6258 6.0387 11.6097 6.11462 11.5782C6.19054 11.5468 6.25953 11.5007 6.31764 11.4426C6.37575 11.3844 6.42185 11.3155 6.45329 11.2395C6.48474 11.1636 6.50093 11.0822 6.50093 11.0001C6.50093 10.9179 6.48474 10.8365 6.45329 10.7606C6.42185 10.6847 6.37575 10.6157 6.31764 10.5576L2.38389 6.62506H28.8342C29 6.62506 29.159 6.55921 29.2762 6.442C29.3934 6.32479 29.4592 6.16582 29.4592 6.00006Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}

._black-nav-btn.swiper-button-prev._reverse-styles {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='12' viewBox='0 0 30 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.4592 6.00006C29.4592 5.8343 29.3934 5.67533 29.2762 5.55812C29.159 5.44091 29 5.37506 28.8342 5.37506H2.38389L6.31764 1.44256C6.37575 1.38445 6.42185 1.31546 6.45329 1.23954C6.48474 1.16361 6.50093 1.08224 6.50093 1.00006C6.50093 0.917877 6.48474 0.836502 6.45329 0.760578C6.42185 0.684654 6.37575 0.615667 6.31764 0.557557C6.25953 0.499447 6.19054 0.453352 6.11462 0.421903C6.0387 0.390454 5.95732 0.374268 5.87514 0.374268C5.79296 0.374268 5.71159 0.390454 5.63566 0.421903C5.55974 0.453352 5.49075 0.499447 5.43264 0.557557L0.432641 5.55756C0.374437 5.61561 0.328258 5.68458 0.29675 5.76052C0.265242 5.83645 0.249023 5.91785 0.249023 6.00006C0.249023 6.08227 0.265242 6.16367 0.29675 6.2396C0.328258 6.31553 0.374437 6.3845 0.432641 6.44256L5.43264 11.4426C5.49075 11.5007 5.55974 11.5468 5.63566 11.5782C5.71159 11.6097 5.79296 11.6258 5.87514 11.6258C5.95732 11.6258 6.0387 11.6097 6.11462 11.5782C6.19054 11.5468 6.25953 11.5007 6.31764 11.4426C6.37575 11.3844 6.42185 11.3155 6.45329 11.2395C6.48474 11.1636 6.50093 11.0822 6.50093 11.0001C6.50093 10.9179 6.48474 10.8365 6.45329 10.7606C6.42185 10.6847 6.37575 10.6157 6.31764 10.5576L2.38389 6.62506H28.8342C29 6.62506 29.159 6.55921 29.2762 6.442C29.3934 6.32479 29.4592 6.16582 29.4592 6.00006Z' fill='black'/%3E%3C/svg%3E%0A");
  @media (max-width: variables.$mobile) {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3135 3L4.99977 14.3137L16.3135 25.6274' stroke='%23001D0B' stroke-width='3'/%3E%3C/svg%3E%0A");
  }

  &._green {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM21 7L1 7V9L21 9V7Z' fill='%23549D60'/%3E%3C/svg%3E%0A");
    @media (max-width: variables.$mobile) {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='26' viewBox='0 0 16 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3135 2L2.99977 13.3137L14.3135 24.6274' stroke='%2395C19C' stroke-width='3'/%3E%3C/svg%3E%0A");
    }
  }
}

//slider default navigations

._black-pagination {
  & .swiper-pagination-bullet {
    width: .8rem;
    height: .8rem;
    border: 0.3rem solid variables.$white;
    opacity: 1;
    background: variables.$black;
    transition: background .15s, border-color .15s;

    &.swiper-pagination-bullet-active {
      border-color: variables.$black;
      background: variables.$white;
    }
  }
}


@media (max-width: 667px) {
  main {
    //margin-top: 7rem;
  }

  ._desktop {
    display: none !important;
  }

  ._mobile {
    display: block !important;
  }
}
