$mobile: 667px;
$light-green: #E9F6E9;
$light-gray: #B3BBB6;
$light-blue: #B7D8FF;
$link-blue: #308CDE;
$blue: #97BBEF;
$black: #001D0B;
$green: #549D60;
$green-bg: #A2D4A6;
$pink: #F9DFE9;
$btn-pink: #FCB9CE;
$red: red;
$white: #FFFFFF;
$font-light: "inter-light";
$font-regular: "inter-regular";
$font-medium: "inter-medium";
$font-semi: "inter-semi";