@use "../../common/variables";

.footer-info {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;

  @media (max-width: variables.$mobile) {
    grid-template-columns: 1fr;
    padding: 2rem 1.6rem;
  }

  &__logo {
    width: 8rem;
    height: 8.9rem;
    justify-self: center;
  }

  &__col {
    max-width: 35.6rem;
    display: grid;
    grid-gap: .8rem;
    align-content: start;
  }

  &__item {
    font-family: variables.$font-light;
    font-size: 1.2rem;
    line-height: 1.5rem;
    @media (max-width: variables.$mobile) {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
}
