@use "../../common/variables";

.subscribe-form {
  background: variables.$pink;
  width: 100%;


  &__container {
    position: relative;
    padding: 2.8rem 0;
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media (max-width: variables.$mobile) {
      display: grid;
      padding: 2.4rem 1.6rem;
    }

  }

  &__decor {
    position: absolute;

    &._1 {
      left: -16rem;
      bottom: 0;
      width: 8.8rem;
      height: 10rem;
      @media (max-width: variables.$mobile) {
        left: unset;
        right: 0;
        top: 6.1rem;
        width: 6.1rem;
        height: 7rem;
      }

    }

    &._2 {
      right: -17rem;
      top: 0;
      width: 10rem;
      height: 8.3rem;
      @media (max-width: variables.$mobile) {
        display: none;
      }
    }
  }

  &__description {
    display: grid;
    grid-gap: .8rem;

    @media (max-width: variables.$mobile) {
      justify-self: start;
    }

    & h3 {
      font-family: variables.$font-semi;
      font-size: 2.4rem;
    }

    & p {
      font-family: variables.$font-regular;
      font-size: 1.2rem;
      line-height: 1.8rem;
      max-width: 37rem;

      @media (max-width: variables.$mobile) {
        max-width: 30rem
      }
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 30rem 17.6rem;
    grid-gap: .8rem;

    @media (max-width: variables.$mobile) {
      grid-template-columns: 32.8rem;
      grid-gap: 1.9rem;
      margin-top: 1.6rem;
    }
  }


}