@use "../common/variables";

.main-btn {
  display: grid;
  align-items: center;
  text-align: center;
  height: 4rem;

  & span {
    pointer-events: none;
    text-transform: uppercase;
    font-family: variables.$font-semi;
    font-size: 1.2rem;
  }

  &._green {
    background: variables.$green-bg;
    color: variables.$white;
  }

  &._blue {
    background: variables.$blue;
    color: variables.$white;
  }
}