@use "../common/variables";

.product-card {
  position: relative;
  box-shadow: 0 .2rem 1rem #5656561A;
  padding: 1.2rem;
  display: grid;
  cursor: pointer;
  background: variables.$white;

  &__type-section {
    z-index: 2;
    position: absolute;
    top: 1.2rem;
    left: 0;
    display: grid;
    grid-gap: .4rem;
    justify-items: start;
  }

  &__type-bar {
    &:after {
      height: 2.4rem;
      display: grid;
      align-items: center;
      color: variables.$white;
      padding: 0 1.2rem;
      text-transform: uppercase;
      font-family: variables.$font-semi;

      @media (max-width: variables.$mobile) {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

    }

    &[data-type="hit"] {
      &:after {
        background: variables.$light-blue;
        content: "хит";
      }
    }

    &[data-type="new"] {
      &:after {
        background: variables.$btn-pink;
        content: "НОВИНКА";
      }
    }

  }


  &__img {
    justify-self: center;
    height: 14rem;
    margin-bottom: 1.6rem;

    @media (max-width: variables.$mobile) {
      height: 11.2rem;
      margin-bottom: .8rem;
    }
  }

  &__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: variables.$font-semi;
    margin-bottom: .4rem;

    @media (max-width: variables.$mobile) {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: variables.$font-light;
    margin-bottom: .8rem;

    @media (max-width: variables.$mobile) {
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }

  &__volume {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: variables.$font-medium;
    margin-bottom: .8rem;
    @media (max-width: variables.$mobile) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &__stats {
    margin-bottom: 1.2rem;
    @media (max-width: variables.$mobile) {
      margin-bottom: 1.75rem;
    }
  }
}