@use "../common/variables";

.product-card {
  position: relative;

  &:after {
    position: absolute;
    top: 1.2rem;
    left: 0;
    color: variables.$white;
    padding: .6rem 1.2rem;
    text-transform: uppercase;
    font-family: variables.$font-semi;
  }

  &._hit {
    &:after {
      background: variables.$light-blue;
      content: "хит";
    }
  }

  &._new {
    &:after {
      background: variables.$btn-pink;
      content: "НОВИНКА";
    }
  }

  &__content {
    box-shadow: 0 .2rem 1rem #5656561A;
    padding: 1.2rem;
    display: grid;
  }

  &__img {
    justify-self: center;
    height: 14rem;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: variables.$font-semi;
    margin-bottom: .4rem;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: variables.$font-light;
    margin-bottom: .8rem;
  }

  &__stats {
    margin-bottom: 1.2rem;
    display: flex;
    grid-gap: .8rem;
  }

  &__volume {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: variables.$font-medium;
    margin-bottom: .8rem;
  }

  &__stars {
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.6rem;
    width: 8rem;
    margin-bottom: 1.2rem;

    &[data-stars="5"] {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='16' viewBox='0 0 80 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z' fill='%23F7C179'/%3E%3Cpath d='M24 0L26.3511 4.76393L31.6085 5.52786L27.8042 9.23607L28.7023 14.4721L24 12L19.2977 14.4721L20.1958 9.23607L16.3915 5.52786L21.6489 4.76393L24 0Z' fill='%23F7C179'/%3E%3Cpath d='M40 0L42.3511 4.76393L47.6085 5.52786L43.8042 9.23607L44.7023 14.4721L40 12L35.2977 14.4721L36.1958 9.23607L32.3915 5.52786L37.6489 4.76393L40 0Z' fill='%23F7C179'/%3E%3Cpath d='M56 0L58.3511 4.76393L63.6085 5.52786L59.8042 9.23607L60.7023 14.4721L56 12L51.2977 14.4721L52.1958 9.23607L48.3915 5.52786L53.6489 4.76393L56 0Z' fill='%23F7C179'/%3E%3Cpath d='M72 0L74.3511 4.76393L79.6085 5.52786L75.8042 9.23607L76.7023 14.4721L72 12L67.2977 14.4721L68.1958 9.23607L64.3915 5.52786L69.6489 4.76393L72 0Z' fill='%23F7C179'/%3E%3C/svg%3E%0A");
    }

    &[data-stars="4"] {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='16' viewBox='0 0 80 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z' fill='%23F7C179'/%3E%3Cpath d='M24 0L26.3511 4.76393L31.6085 5.52786L27.8042 9.23607L28.7023 14.4721L24 12L19.2977 14.4721L20.1958 9.23607L16.3915 5.52786L21.6489 4.76393L24 0Z' fill='%23F7C179'/%3E%3Cpath d='M40 0L42.3511 4.76393L47.6085 5.52786L43.8042 9.23607L44.7023 14.4721L40 12L35.2977 14.4721L36.1958 9.23607L32.3915 5.52786L37.6489 4.76393L40 0Z' fill='%23F7C179'/%3E%3Cpath d='M56 0L58.3511 4.76393L63.6085 5.52786L59.8042 9.23607L60.7023 14.4721L56 12L51.2977 14.4721L52.1958 9.23607L48.3915 5.52786L53.6489 4.76393L56 0Z' fill='%23F7C179'/%3E%3Cpath d='M71.6085 1.12978L73.5112 4.98522L73.6276 5.22094L73.8877 5.25874L78.1424 5.87698L75.0637 8.87803L74.8754 9.06151L74.9199 9.32059L75.6467 13.5581L71.8411 11.5574L71.6085 11.4351L71.3758 11.5574L67.5702 13.5581L68.297 9.32059L68.3415 9.06151L68.1532 8.87802L65.0745 5.87698L69.3292 5.25874L69.5893 5.22094L69.7057 4.98522L71.6085 1.12978Z' fill='white' stroke='%23F6C179'/%3E%3C/svg%3E ");
    }

    &[data-stars="3"] {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='16' viewBox='0 0 80 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z' fill='%23F7C179'/%3E%3Cpath d='M24 0L26.3511 4.76393L31.6085 5.52786L27.8042 9.23607L28.7023 14.4721L24 12L19.2977 14.4721L20.1958 9.23607L16.3915 5.52786L21.6489 4.76393L24 0Z' fill='%23F7C179'/%3E%3Cpath d='M40 0L42.3511 4.76393L47.6085 5.52786L43.8042 9.23607L44.7023 14.4721L40 12L35.2977 14.4721L36.1958 9.23607L32.3915 5.52786L37.6489 4.76393L40 0Z' fill='%23F7C179'/%3E%3Cpath d='M56 1.12978L57.9028 4.98522L58.0191 5.22094L58.2792 5.25874L62.534 5.87698L59.4552 8.87803L59.267 9.06151L59.3114 9.32059L60.0382 13.5581L56.2327 11.5574L56 11.4351L55.7673 11.5574L51.9618 13.5581L52.6886 9.32059L52.733 9.06151L52.5448 8.87802L49.466 5.87698L53.7208 5.25874L53.9809 5.22094L54.0972 4.98522L56 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M71.6085 1.12978L73.5112 4.98522L73.6276 5.22094L73.8877 5.25874L78.1424 5.87698L75.0637 8.87803L74.8754 9.06151L74.9199 9.32059L75.6467 13.5581L71.8411 11.5574L71.6085 11.4351L71.3758 11.5574L67.5702 13.5581L68.297 9.32059L68.3415 9.06151L68.1532 8.87802L65.0745 5.87698L69.3292 5.25874L69.5893 5.22094L69.7057 4.98522L71.6085 1.12978Z' fill='white' stroke='%23F6C179'/%3E%3C/svg%3E ");
    }

    &[data-stars="2"] {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='16' viewBox='0 0 80 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z' fill='%23F7C179'/%3E%3Cpath d='M24 0L26.3511 4.76393L31.6085 5.52786L27.8042 9.23607L28.7023 14.4721L24 12L19.2977 14.4721L20.1958 9.23607L16.3915 5.52786L21.6489 4.76393L24 0Z' fill='%23F7C179'/%3E%3Cpath d='M40 1.12978L41.9028 4.98522L42.0191 5.22094L42.2792 5.25874L46.534 5.87698L43.4552 8.87803L43.267 9.06151L43.3114 9.32059L44.0382 13.5581L40.2327 11.5574L40 11.4351L39.7673 11.5574L35.9618 13.5581L36.6886 9.32059L36.733 9.06151L36.5448 8.87802L33.466 5.87698L37.7208 5.25874L37.9809 5.22094L38.0972 4.98522L40 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M56 1.12978L57.9028 4.98522L58.0191 5.22094L58.2792 5.25874L62.534 5.87698L59.4552 8.87803L59.267 9.06151L59.3114 9.32059L60.0382 13.5581L56.2327 11.5574L56 11.4351L55.7673 11.5574L51.9618 13.5581L52.6886 9.32059L52.733 9.06151L52.5448 8.87802L49.466 5.87698L53.7208 5.25874L53.9809 5.22094L54.0972 4.98522L56 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M71.6085 1.12978L73.5112 4.98522L73.6276 5.22094L73.8877 5.25874L78.1424 5.87698L75.0637 8.87803L74.8754 9.06151L74.9199 9.32059L75.6467 13.5581L71.8411 11.5574L71.6085 11.4351L71.3758 11.5574L67.5702 13.5581L68.297 9.32059L68.3415 9.06151L68.1532 8.87802L65.0745 5.87698L69.3292 5.25874L69.5893 5.22094L69.7057 4.98522L71.6085 1.12978Z' fill='white' stroke='%23F6C179'/%3E%3C/svg%3E ");
    }

    &[data-stars="1"] {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='16' viewBox='0 0 80 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z' fill='%23F7C179'/%3E%3Cpath d='M24 1.12978L25.9028 4.98522L26.0191 5.22094L26.2792 5.25874L30.534 5.87698L27.4552 8.87803L27.267 9.06151L27.3114 9.32059L28.0382 13.5581L24.2327 11.5574L24 11.4351L23.7673 11.5574L19.9618 13.5581L20.6886 9.32059L20.733 9.06151L20.5448 8.87802L17.466 5.87698L21.7208 5.25874L21.9809 5.22094L22.0972 4.98522L24 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M40 1.12978L41.9028 4.98522L42.0191 5.22094L42.2792 5.25874L46.534 5.87698L43.4552 8.87803L43.267 9.06151L43.3114 9.32059L44.0382 13.5581L40.2327 11.5574L40 11.4351L39.7673 11.5574L35.9618 13.5581L36.6886 9.32059L36.733 9.06151L36.5448 8.87802L33.466 5.87698L37.7208 5.25874L37.9809 5.22094L38.0972 4.98522L40 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M56 1.12978L57.9028 4.98522L58.0191 5.22094L58.2792 5.25874L62.534 5.87698L59.4552 8.87803L59.267 9.06151L59.3114 9.32059L60.0382 13.5581L56.2327 11.5574L56 11.4351L55.7673 11.5574L51.9618 13.5581L52.6886 9.32059L52.733 9.06151L52.5448 8.87802L49.466 5.87698L53.7208 5.25874L53.9809 5.22094L54.0972 4.98522L56 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M71.6085 1.12978L73.5112 4.98522L73.6276 5.22094L73.8877 5.25874L78.1424 5.87698L75.0637 8.87803L74.8754 9.06151L74.9199 9.32059L75.6467 13.5581L71.8411 11.5574L71.6085 11.4351L71.3758 11.5574L67.5702 13.5581L68.297 9.32059L68.3415 9.06151L68.1532 8.87802L65.0745 5.87698L69.3292 5.25874L69.5893 5.22094L69.7057 4.98522L71.6085 1.12978Z' fill='white' stroke='%23F6C179'/%3E%3C/svg%3E ");
    }

    &[data-stars="0"] {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='16' viewBox='0 0 80 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1.12978L9.90277 4.98522L10.0191 5.22094L10.2792 5.25874L14.534 5.87698L11.4552 8.87803L11.267 9.06151L11.3114 9.32059L12.0382 13.5581L8.23267 11.5574L8 11.4351L7.76733 11.5574L3.96178 13.5581L4.68858 9.32059L4.73301 9.06151L4.54478 8.87802L1.46603 5.87698L5.72076 5.25874L5.98089 5.22094L6.09723 4.98522L8 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M24 1.12978L25.9028 4.98522L26.0191 5.22094L26.2792 5.25874L30.534 5.87698L27.4552 8.87803L27.267 9.06151L27.3114 9.32059L28.0382 13.5581L24.2327 11.5574L24 11.4351L23.7673 11.5574L19.9618 13.5581L20.6886 9.32059L20.733 9.06151L20.5448 8.87802L17.466 5.87698L21.7208 5.25874L21.9809 5.22094L22.0972 4.98522L24 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M40 1.12978L41.9028 4.98522L42.0191 5.22094L42.2792 5.25874L46.534 5.87698L43.4552 8.87803L43.267 9.06151L43.3114 9.32059L44.0382 13.5581L40.2327 11.5574L40 11.4351L39.7673 11.5574L35.9618 13.5581L36.6886 9.32059L36.733 9.06151L36.5448 8.87802L33.466 5.87698L37.7208 5.25874L37.9809 5.22094L38.0972 4.98522L40 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M56 1.12978L57.9028 4.98522L58.0191 5.22094L58.2792 5.25874L62.534 5.87698L59.4552 8.87803L59.267 9.06151L59.3114 9.32059L60.0382 13.5581L56.2327 11.5574L56 11.4351L55.7673 11.5574L51.9618 13.5581L52.6886 9.32059L52.733 9.06151L52.5448 8.87802L49.466 5.87698L53.7208 5.25874L53.9809 5.22094L54.0972 4.98522L56 1.12978Z' stroke='%23F6C179'/%3E%3Cpath d='M71.6085 1.12978L73.5112 4.98522L73.6276 5.22094L73.8877 5.25874L78.1424 5.87698L75.0637 8.87803L74.8754 9.06151L74.9199 9.32059L75.6467 13.5581L71.8411 11.5574L71.6085 11.4351L71.3758 11.5574L67.5702 13.5581L68.297 9.32059L68.3415 9.06151L68.1532 8.87802L65.0745 5.87698L69.3292 5.25874L69.5893 5.22094L69.7057 4.98522L71.6085 1.12978Z' fill='white' stroke='%23F6C179'/%3E%3C/svg%3E ");
    }
  }

  &__comments {
    color: variables.$link-blue;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: variables.$font-regular;
    text-decoration: underline;
  }


}