@use "../../common/variables";

.detail-product-slider {
  display: grid;
  position: relative;
  grid-row: 1/-1;
  grid-column: 1 / span 1;

  @media (max-width: variables.$mobile) {
    grid-row: 4/span 1;
    grid-column: 1/span 2;
    margin-bottom: 4rem;
  }

  &:after {
    position: absolute;
    top: 2rem;
    left: 0;
    color: variables.$white;
    padding: .8rem;
    text-transform: uppercase;
    font-family: variables.$font-semi;
    font-size: 2rem;
    line-height: 2.6rem;

    @media (max-width: variables.$mobile) {
      font-size: 1rem;
      line-height: 1.3rem;
      padding: .6rem 1.2rem;
    }

  }

  &[data-type="hit"] {
    &:after {
      background: variables.$light-blue;
      content: "хит";
    }
  }

  &[data-type="new"] {
    &:after {
      background: variables.$btn-pink;
      content: "НОВИНКА";
    }
  }

  &__slider-container {
    width: 43.8rem;
    height: 10.4rem;
    padding: 1.2rem 5px !important;

    @media (max-width: variables.$mobile) {
      width: 100%;
      height: auto;
      padding: 1rem .3rem 3.2rem !important;
    }
  }

  &__pagination {
    bottom: 0 !important;
  }

  &__nav-btn._black-nav-btn {
    width: 1.4rem;
    height: 1rem;
    top: unset;
    bottom: 4.5rem;

    @media (max-width: variables.$mobile) {
      top: 50%;
      width: 1.6rem;
      height: 1.6rem;
      bottom: unset;
    }

    &.swiper-button-next {
      right: 0rem;
      @media (max-width: variables.$mobile) {
        right: 1rem;
      }
    }

    &.swiper-button-prev {
      left: 0rem;
      @media (max-width: variables.$mobile) {
        left: 1rem;
      }
    }
  }

  &__slide.swiper-slide {
    cursor: pointer;
    width: 8rem;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 0 .2rem 1rem #5656561A;
  }

  &__nav-img {
    width: 8rem;
    height: 6.8rem;

    @media (max-width: variables.$mobile) {
      display: grid;
      height: 30rem;
      width: 100%;
    }

    & img {
      object-fit: contain;
      object-position: center;

      @media (max-width: variables.$mobile) {
        max-height: 26rem;
      }
    }
  }

  &__preview-img {
    position: relative;
    box-shadow: 0 .2rem 1rem #5656561A;
    width: 48rem;
    height: 44rem;
    display: grid;
    justify-items: center;
    align-items: center;
    opacity: 1;
    transition: opacity .15s, filter .15s;
    user-select: none;

    &._transition {
      opacity: 0;
    }

    img {
      max-height: 38.4rem;
    }
  }
}