@use "../../common/variables";

.detail-product-slider {
  display: grid;
  position: relative;

  &:after {
    position: absolute;
    top: 2rem;
    left: 0;
    color: variables.$white;
    padding: .8rem;
    text-transform: uppercase;
    font-family: variables.$font-semi;
    font-size: 2rem;
    line-height: 2.6rem;

    @media (max-width: variables.$mobile) {
      font-size: 1rem;
      line-height: 1.3rem;
      padding: .6rem 1.2rem;
    }

  }

  &[data-type="hit"] {
    &:after {
      background: variables.$light-blue;
      content: "хит";
    }
  }

  &[data-type="new"] {
    &:after {
      background: variables.$btn-pink;
      content: "НОВИНКА";
    }
  }

  &__slider-container {
    width: 43.8rem;
    height: 10.4rem;
    padding: 1.2rem 5px !important;
  }

  &__nav-btn._black-nav-btn {
    width: 1.4rem;
    height: 1rem;
    top: unset;
    bottom: 4.5rem;

    &.swiper-button-next {
      right: 0rem;
    }

    &.swiper-button-prev {
      left: 0rem;
    }
  }

  &__slide.swiper-slide {
    width: 8rem;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 0 .2rem 1rem #5656561A;
  }

  &__nav-img {
    width: 8rem;
    height: 6.8rem;

    & img {
      object-fit: contain;
    }
  }

  &__preview-img {
    position: relative;
    box-shadow: 0 .2rem 1rem #5656561A;
    width: 48rem;
    height: 44rem;
    display: grid;
    justify-items: center;
    align-items: center;
    opacity: 1;
    transition: opacity .15s, filter .15s;
    filter: blur(0px);

    &._transition {
      opacity: 0;
      filter: blur(3rem);
    }

    img {
      max-height: 38.4rem;
    }
  }
}