@use "../../common/variables";
@use "detail-product-slider";
@use "detail-main-content";
@use "description-block";
@use "composition";


.detail-top-block {
  display: grid;

  @media (max-width: variables.$mobile) {
    padding: 0 1.6rem;
  }

  @media (max-width: variables.$mobile) {
    grid-gap: 4rem;
  }

  &__description {
    margin-top: 6.3rem;
  }
}
