@use "../../common/variables";

.top-banners-preview {
  user-select: none;
  z-index: 1;
  position: relative;

  &__slider.swiper {
  }

  &__wrapper {
    & .swiper-slide {
      display: flex;
    }
  }

  &__btn {
    border: none;
    position: relative;
    flex: 1;
    display: grid;
    grid-gap: .2rem;
    color: variables.$black;
    padding: 1.6rem 1.6rem;

    & > * {
      pointer-events: none;
    }

    &._active {
      color: variables.$white;
      background: variables.$green-bg;
    }
  }

  &__title {
    font-family: variables.$font-semi;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  &__description {
    font-family: variables.$font-light;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &__progress {
    width: 0%;
    height: .4rem;
    background: variables.$green-bg;

    &._progress-transition-off {
      transition: width .4s linear !important;
    }

    &._progress-transition-on {
      transition: width 3.5s linear;
    }
  }

}

