@use "../../common/variables";
@use "top-banners-slider";
@use "top-banners-preview";

.top-banners {
  background: variables.$light-green;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background: variables.$white;
    height: .4rem;
    width: 100%;
    bottom: 0;
    display: block;
  }
}