@use "../../common/variables";
@use "scores";

.comments {
  justify-content: center;
  margin-top: 8rem;

  &__container {
    margin-top: 4.4rem;

    @media (max-width: variables.$mobile) {
      padding: 1.6rem;
    }
  }

  &__amount-reviews {
    font-family: variables.$font-medium;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  &__filters {
    margin-top: 1rem;
    grid-gap: 1.6rem;
    display: flex;
    justify-items: start;
  }

  &__reviews {
    margin-top: 2.8rem;
  }

  &__review {
    border-top: .1rem solid variables.$black;
    padding: 1.3rem 0 .8rem;
  }

  &__stars {
    width: 9.6rem;
    height: 1.6rem;
  }

  &__review-title {
    margin-top: 1.3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: variables.$font-semi;
  }

  &__review-text {
    margin-top: .7rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &__author {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &__date {
    margin-top: .4rem;
    line-height: 1.3rem;
    font-size: 1rem;
  }

  &__interface-bar {
    display: grid;
    margin-top: 1.3rem;
    grid-gap: 2.1rem;
    width: 100%;
    grid-template-columns: auto auto 1fr;
  }


  &__likes, &__share, &__report {
    cursor: pointer;
    display: grid;
    grid-gap: .4rem;
    justify-items: center;
  }

  &__likes-container, &__share, &__report {

    & .icon {
      width: 1.6rem;
      height: 1.6rem;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }

  &__likes {
    display: grid;
    grid-gap: .4rem;
    justify-items: start;
  }

  &__likes-container {
    display: flex;
    grid-gap: .37rem;
    align-items: center;

    & .icon {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8422 8.33899C14.1047 7.99211 14.25 7.56711 14.25 7.12493C14.25 6.42336 13.8578 5.7593 13.2266 5.38899C13.0641 5.29367 12.879 5.2435 12.6906 5.24368H8.94375L9.0375 3.32336C9.05938 2.8593 8.89531 2.41868 8.57656 2.08274C8.42013 1.91716 8.23141 1.78542 8.02206 1.69565C7.8127 1.60589 7.58716 1.56002 7.35938 1.56086C6.54688 1.56086 5.82812 2.10774 5.6125 2.89055L4.27031 7.74993H2.25C1.97344 7.74993 1.75 7.97336 1.75 8.24993V13.9374C1.75 14.214 1.97344 14.4374 2.25 14.4374H11.6453C11.7891 14.4374 11.9297 14.4093 12.0594 14.3531C12.8031 14.0359 13.2828 13.3093 13.2828 12.5031C13.2828 12.3062 13.2547 12.1124 13.1984 11.9249C13.4609 11.5781 13.6062 11.1531 13.6062 10.7109C13.6062 10.514 13.5781 10.3202 13.5219 10.1327C13.7844 9.78586 13.9297 9.36086 13.9297 8.91868C13.9266 8.7218 13.8984 8.52649 13.8422 8.33899ZM2.875 13.3124V8.87493H4.14062V13.3124H2.875ZM12.8188 7.7968L12.4766 8.09368L12.6938 8.49055C12.7653 8.62129 12.8024 8.76808 12.8016 8.91711C12.8016 9.17493 12.6891 9.42024 12.4953 9.58899L12.1531 9.88586L12.3703 10.2827C12.4419 10.4135 12.479 10.5603 12.4781 10.7093C12.4781 10.9671 12.3656 11.2124 12.1719 11.3812L11.8297 11.6781L12.0469 12.0749C12.1184 12.2057 12.1555 12.3525 12.1547 12.5015C12.1547 12.8515 11.9484 13.1671 11.6297 13.3109H5.14062V8.82493L6.69531 3.19211C6.7354 3.04774 6.82146 2.92037 6.94044 2.8293C7.05943 2.73822 7.20485 2.68842 7.35469 2.68743C7.47344 2.68743 7.59062 2.7218 7.68437 2.79211C7.83906 2.90774 7.92188 3.08274 7.9125 3.26868L7.7625 6.36868H12.675C12.9531 6.53899 13.125 6.82649 13.125 7.12493C13.125 7.38274 13.0125 7.62649 12.8188 7.7968Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    & .num {
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }

  &__share {
    display: grid;
    grid-gap: .4rem;

    & .icon {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.66649 10.0001C4.24989 9.99674 4.81101 9.77562 5.23982 9.38005L9.41316 11.7667C9.36 11.9509 9.33307 12.1417 9.33316 12.3334C9.32887 12.8744 9.51114 13.4004 9.84928 13.8228C10.1874 14.2451 10.6608 14.5381 11.1896 14.6523C11.7185 14.7665 12.2705 14.695 12.7528 14.4499C13.2351 14.2047 13.6182 13.8008 13.8376 13.3062C14.057 12.8117 14.0993 12.2566 13.9573 11.7345C13.8153 11.2124 13.4978 10.7552 13.0582 10.4398C12.6186 10.1245 12.0837 9.97019 11.5436 10.003C11.0036 10.0358 10.4913 10.2538 10.0932 10.6201L5.91982 8.23339C5.97019 8.0691 5.99712 7.89853 5.99982 7.72672L10.0998 5.38005C10.4959 5.73795 11.0029 5.94878 11.536 5.97719C12.069 6.0056 12.5956 5.84986 13.0274 5.53609C13.4593 5.22232 13.7701 4.7696 13.9077 4.25387C14.0454 3.73813 14.0016 3.19074 13.7835 2.70351C13.5655 2.21627 13.1866 1.81882 12.7103 1.57781C12.234 1.3368 11.6893 1.26689 11.1676 1.3798C10.6459 1.49272 10.1789 1.7816 9.84487 2.19798C9.51087 2.61437 9.3302 3.13294 9.33316 3.66672C9.33541 3.85826 9.3623 4.04871 9.41316 4.23339L5.61982 6.40005C5.40003 6.06002 5.09554 5.78304 4.73628 5.59632C4.37702 5.40961 3.97536 5.31959 3.57077 5.33511C3.16619 5.35064 2.77261 5.47117 2.42871 5.68486C2.08482 5.89856 1.80245 6.19806 1.60935 6.55393C1.41626 6.90981 1.31909 7.3098 1.3274 7.71459C1.3357 8.11939 1.4492 8.51506 1.65672 8.86271C1.86425 9.21036 2.15867 9.49803 2.51104 9.69744C2.86341 9.89685 3.26161 10.0011 3.66649 10.0001ZM11.6665 11.3334C11.8643 11.3334 12.0576 11.392 12.2221 11.5019C12.3865 11.6118 12.5147 11.768 12.5904 11.9507C12.6661 12.1334 12.6859 12.3345 12.6473 12.5285C12.6087 12.7225 12.5135 12.9006 12.3736 13.0405C12.2337 13.1803 12.0556 13.2756 11.8616 13.3142C11.6676 13.3528 11.4665 13.333 11.2838 13.2573C11.1011 13.1816 10.9449 13.0534 10.835 12.889C10.7251 12.7245 10.6665 12.5312 10.6665 12.3334C10.6665 12.0682 10.7718 11.8138 10.9594 11.6263C11.1469 11.4387 11.4013 11.3334 11.6665 11.3334ZM11.6665 2.66672C11.8643 2.66672 12.0576 2.72537 12.2221 2.83525C12.3865 2.94513 12.5147 3.10131 12.5904 3.28404C12.6661 3.46676 12.6859 3.66783 12.6473 3.86181C12.6087 4.05579 12.5135 4.23397 12.3736 4.37383C12.2337 4.51368 12.0556 4.60892 11.8616 4.64751C11.6676 4.68609 11.4665 4.66629 11.2838 4.5906C11.1011 4.51491 10.9449 4.38674 10.835 4.22229C10.7251 4.05784 10.6665 3.8645 10.6665 3.66672C10.6665 3.4015 10.7718 3.14715 10.9594 2.95961C11.1469 2.77208 11.4013 2.66672 11.6665 2.66672ZM3.66649 6.66672C3.86427 6.66672 4.05761 6.72537 4.22206 6.83525C4.38651 6.94513 4.51468 7.10131 4.59037 7.28404C4.66606 7.46676 4.68586 7.66783 4.64728 7.86181C4.60869 8.05579 4.51345 8.23397 4.3736 8.37383C4.23375 8.51368 4.05556 8.60892 3.86158 8.64751C3.6676 8.68609 3.46653 8.66629 3.28381 8.5906C3.10108 8.51491 2.9449 8.38674 2.83502 8.22229C2.72514 8.05784 2.66649 7.8645 2.66649 7.66672C2.66649 7.4015 2.77185 7.14715 2.95938 6.95961C3.14692 6.77208 3.40127 6.66672 3.66649 6.66672Z' fill='black'/%3E%3C/svg%3E ");
    }
  }

  &__report {
    justify-self: end;

    & .icon {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_137_3437)'%3E%3Cpath d='M14 0.359131H2C0.896875 0.359131 0 1.25601 0 2.35913V11.3591C0 12.4623 0.896875 13.3591 2 13.3591H5V15.9841C5 16.206 5.18125 16.3591 5.375 16.3591C5.45 16.3591 5.52813 16.3373 5.59688 16.2841L9.5 13.3591H14C15.1031 13.3591 16 12.4623 16 11.3591V2.35913C16 1.25601 15.1031 0.359131 14 0.359131ZM14.5 11.3591C14.5 11.6341 14.275 11.8591 14 11.8591H9L8.6 12.1591L6.5 13.7341V11.8591H2C1.725 11.8591 1.5 11.6341 1.5 11.3591V2.35913C1.5 2.08413 1.725 1.85913 2 1.85913H14C14.275 1.85913 14.5 2.08413 14.5 2.35913V11.3591Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_137_3437'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.359131)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    grid-gap: 1.25rem;
  }

  &__pagination {
    display: flex;
    grid-gap: .5rem;
  }

  &__pagination-bullet {
    font-size: 1rem;
    line-height: 0;
    cursor: pointer;
  }

  &__nav-btn.js-comment-nav {
    width: 0.45rem;
    height: 1.05rem;
    position: static;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: contain;

    &:after {
      display: none;
    }
  }

  &__nav-btn.swiper-button-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 1L1 6L5.5 11.5' stroke='black' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &__nav-btn.swiper-button-next {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 6L1 11.5' stroke='black' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}