@use "../../common/variables";

.analyzer {
  width: 100%;
  background: url("../images/desktop/analyzer/bg.png");
  color: variables.$white;

  @media (max-width: variables.$mobile) {
    overflow: hidden;
    background: url("../images/mobile/analyzer/bg.png");
  }

  &__container {
    padding: 11.6rem 0 11.6rem 59rem;
    height: 100%;
    position: relative;

    @media (max-width: variables.$mobile) {
      padding: 4rem 1.6rem 40rem;
    }
  }

  &__popup {
    z-index: 1;
    position: absolute;
    left: 0;
    cursor: pointer;
    overflow: hidden;
  }

  &__pin {
    transition: fill .25s linear, transform .25s linear;
    width: 2.8rem;
    height: 2.8rem;
    fill: white;
    z-index: 1;
  }

  &__link-container {
    position: absolute;
  }

  &__img {
    width: 46rem;
    height: 46rem;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 4.8rem;
    @media (max-width: variables.$mobile) {
      width: 36rem;
      height: 32rem;
      left: 0;
    }
  }

  &__content {
    max-width: 40rem;
    font-family: variables.$font-light;
    display: grid;
  }

  &__subtitle {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    margin-bottom: .4rem;
  }

  &__title {
    text-transform: uppercase;
    font-size: 3.6rem;
    line-height: 4.6rem;
    font-family: variables.$font-semi;
    margin-bottom: 1.2rem;
    border-bottom: .1rem solid variables.$white;
    letter-spacing: .1rem;
    padding-bottom: .2rem;

    @media (max-width: variables.$mobile) {
      font-size: 2.4rem;
      line-height: 3.1rem;
      margin-bottom: 1.6rem;
      margin-right: 4.4rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 4rem;

    @media (max-width: variables.$mobile) {
      margin-bottom: 1.6rem;
    }
  }

  &__btn {
    padding: 0 4.7rem;
    justify-self: start;
  }

  &__link-container {
    position: absolute;
    display: grid;
    grid-template-columns: 16.3rem auto;
    grid-template-areas: "box line";
  }

  &__link-line {
    width: 7rem;
    height: 3.3rem;
    grid-area: line;
    @media (max-width: variables.$mobile) {
      width: 5.3rem;
      height: 8.4rem;
    }
  }

  &__link-box {
    grid-area: box;
    position: relative;
    opacity: 0;
    transition: opacity .25s;
    transition-delay: 0s;
  }

  &__link-text {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: variables.$font-semi;
    background: variables.$blue;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.6rem 2.4rem 0.4rem 2.4rem;

    @media (max-width: variables.$mobile) {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
    }

    &:after {
      margin-top: -0.2rem;
      transition: opacity .7s;
      opacity: 0;
      transition-delay: 0s;
      position: absolute;
      content: "";
      display: block;
      width: 18.5rem;
      height: 7.8rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='183' height='72' viewBox='0 0 183 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2H2V14' stroke='%2397BBEF' stroke-width='3'/%3E%3Cpath d='M14 70H2V58' stroke='%2397BBEF' stroke-width='3'/%3E%3Cpath d='M169 2H181V14' stroke='%2397BBEF' stroke-width='3'/%3E%3Cpath d='M169 70H181V58' stroke='%2397BBEF' stroke-width='3'/%3E%3C/svg%3E%0A");

      @media (max-width: variables.$mobile) {
        background-image: url("data:image/svg+xml,%3Csvg width='177' height='44' viewBox='0 0 177 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1H1V13' stroke='%2397BBEF' stroke-width='2'/%3E%3Cpath d='M13 43H1V31' stroke='%2397BBEF' stroke-width='2'/%3E%3Cpath d='M164 1H176V13' stroke='%2397BBEF' stroke-width='2'/%3E%3Cpath d='M164 43H176V31' stroke='%2397BBEF' stroke-width='2'/%3E%3C/svg%3E ");
        width: 16.5rem;
        height: 12.8rem;
      }
    }
  }

}

//link-line

.analyzer__link-line {

  & .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: variables.$blue;
  }
}

//popup + hover

.analyzer__popup:hover {

}

.analyzer__popup:hover {

  & {
    overflow: visible;
  }

  & .analyzer__pin {
    fill: variables.$blue;
  }

  & .analyzer__link-box {
    opacity: 1;
    transition-delay: .65s;
  }

  & .analyzer__link-text {
    &:after {
      transition-delay: .75s;
      opacity: 1;
      animation: zoom-in 1s linear alternate infinite;
      animation-delay: .75s;
    }
  }

  & .analyzer__link-line {
    & .path {
      animation: slide 5s linear alternate forwards;
      animation-delay: .25s;
    }
  }
}

.analyzer__popup._skin {
  left: 30rem;
  top: 27rem;

  @media (max-width: variables.$mobile) {
    left: 20rem;
    top: 51rem;
  }

  & .analyzer__pin {
    transform: rotate(-240deg);
  }

  &:hover {
    & .analyzer__pin {
      transform: rotate(-38deg);
    }
  }

  & .analyzer__link-line {
    transform: scale(-1, -1);
  }

  & .analyzer__link-container {
    grid-template-columns: auto 16.3rem;
    grid-template-areas: "line box";
    left: 1.1rem;
    top: 1.3rem;

    @media (max-width: variables.$mobile) {
      right: -13.5rem;
      top: -9.7rem;
      flex-direction: row-reverse;
      grid-template-columns: auto;
      grid-template-rows: auto 8.4rem;
      grid-template-areas:
        "box"
        "line";
    }
  }


  & .analyzer__link-box {
    left: -0.4rem;
    top: 0.5rem;
    @media (max-width: variables.$mobile) {
      left: -4rem;
      top: 0.5rem;
    }
  }
}


.analyzer__popup._hair {
  left: 20rem;
  top: 11rem;

  @media (max-width: variables.$mobile) {
    left: 11rem;
    top: 40rem;
  }

  & .analyzer__link-line {
    transform: scale(-1, -1);
  }

  & .analyzer__link-box {
    position: relative;
    right: -.4rem;
    top: -2.2rem;
    @media (max-width: variables.$mobile) {
      top: .2rem;
      right: 3.6rem;
    }
  }

  &:hover {
    & .analyzer__pin {
      transform: rotate(-185deg);
      @media (max-width: variables.$mobile) {
        transform: rotate(-360deg);
      }
    }
  }

  & .analyzer__link-container {
    right: 1rem;
    top: -1.8rem;
    flex-direction: row-reverse;

    @media (max-width: variables.$mobile) {
      right: -13.5rem;
      top: -9.7rem;
      flex-direction: row-reverse;
      grid-template-columns: auto;
      grid-template-rows: auto 8.4rem;
      grid-template-areas:
        "box"
        "line";
    }
  }
}

@keyframes slide {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.03);
  }
}


