@use "../../common/variables";
@use "dropdown-menu";
@use "cart-btn";
@use "search";

.main-header {
  top: 0;
  position: fixed;
  background: variables.$white;
  z-index: 100;
  width: 100%;

  &__line {
    &._bottom {
      background: variables.$light-green;
      position: relative;
    }
  }

  &__top {
    display: grid;
    padding: 0.3rem 0;
    background: white;
    align-items: center;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-template-areas: "logo phone contact sizer search cart";
  }

  &__logo {
    grid-area: logo;
    width: 6rem;
    height: 6rem;
  }

  &__contact-phone {
    grid-area: phone;
    margin-left: 9rem;
    display: grid;

    & a {
      font-family: variables.$font-medium;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }

    & p {
      font-family: variables.$font-light;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  &__contact-us {
    text-transform: uppercase;
    grid-area: contact;
    border: .1rem solid variables.$green;
    color: variables.$green;
    padding: 1rem 2rem;
    font-family: variables.$font-semi;
    font-size: 1.2rem;
    margin-left: 4.4rem;
  }

  &__search {
    grid-area: search;
  }

  &__cart-btn {
    grid-area: cart;
    margin-left: 4.8rem;
  }

  &__menu-list {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-item {

  }

}