@use "../../common/variables";

.nav-main-section {
  display: grid;
  align-content: start;
  width: 100%;
  background: transparent;
  overflow: scroll;
  transition: background .5s;

  &._opened {
    background: rgba(0, 0, 0, .6);

    & .nav-main-section__list-container {
      transform: translateX(0);
    }
  }

  &__list-container {
    will-change: auto;
    display: grid;
    align-content: start;
    width: calc(100% - 4rem);
    transform: translateX(-100%);
    transition: transform .3s;
    background: variables.$white;
  }

  &__item, &__item.ac {
    margin: 0 1.6rem !important;
    border: none;
    border-bottom: 0.1rem solid variables.$light-gray;
    padding: 1.7rem 0;
  }

  &__item.ac:nth-child(1) {
    border-top: 0.1rem solid #B3BBB6;
  }

  &__title {
    display: grid;
    align-items: center;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      right: 0;
      width: 2rem;
      height: 2rem;
      content: "";
      transition: transform .3s;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.34766 17.8572L16.4289 9.77596L8.34766 1.69474' stroke='%23001D0B'/%3E%3C/svg%3E%0A");
    }
  }


  &__item .ac-header .ac-trigger, &__title {
    padding: 0;
    font-family: variables.$font-regular;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: variables.$black;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__item.ac .ac-header .ac-trigger {
    &:after {
      display: none;
    }
  }

  &__item.ac .ac-trigger:focus {
    color: variables.$black;
  }

  &__item.is-active .nav-main-section__title {
    &:after {
      transform: scale(-1);
    }
  }

}

