@use "../variables";

.footer-navigation {
  border-bottom: .1rem solid variables.$black;

  &__menu-list {
    display: flex;
    justify-content: space-between;
  }

  &__menu-item {
    padding: 2rem 0;
    font-family: variables.$font-semi;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
  }
}


