@use "../../common/variables";
@use "post-card";

.beauty-blog {
  background: url("../images/desktop/beauty-blog/bg.png") left bottom no-repeat;
  background-size: auto 32rem;
  padding: 8.6rem 0 8rem;

  @media (max-width: variables.$mobile) {
    background: variables.$white;
    padding: 6rem 1.6rem 6rem;
  }

  &__slider.swiper {
    @media (max-width: variables.$mobile) {
      padding-bottom: 4rem;
    }
  }

  &__title {
    margin-bottom: 4rem;
    @media (max-width: variables.$mobile) {
      margin-bottom: 2.8rem;
    }
  }

  & &__pagination.swiper-pagination {
    bottom: 0;
  }

  &__nav-btn.swiper-button-next, &__nav-btn.swiper-button-prev {
    display: none;
    top: unset;
    margin-top: unset;
    bottom: 0;
    @media (max-width: variables.$mobile) {
      display: block;
    }
  }
}