@use "common/variables";
@use "common/fonts";
@use "common/common";

//header
@use "blocks/main-header/main-header";

//footer
@use "blocks/main-footer/main-footer";

//components
@use "components/breadcrumb";
@use "components/top-filter";
@use "components/stats";
@use "components/main-btn";
@use "components/product-card";
@use "components/loader";
@use "components/main-checkbox";

//blocks
@use "blocks/side-filter/side-filter";

.catalog-page {

  &__product-list {
    grid-area: catalog;
  }

  &__title {
    grid-area: title;
  }

  &__top-filter {
    grid-area: top-filter;
    justify-self: end;
    margin-bottom: 2.6rem;
  }

  &__side-filter {
    grid-area: side-filter;
  }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "title title"
        "top-filter top-filter"
        "side-filter catalog"
        "side-filter loader";
  }


  &__loader {
    grid-area: loader;
  }

  &__product-page {
    display: grid;
    grid-template-columns: repeat(4, 20.4rem);
    grid-gap: 2.8rem;
  }

  &__product-card {

  }

}