@use "common/variables";
@use "common/fonts";
@use "common/common";

//header
@use "blocks/main-header/main-header";

//footer
@use "blocks/main-footer/main-footer";

//components
@use "components/small-product-card";
@use "components/breadcrumb";
@use "components/top-filter";
@use "components/stats";
@use "components/main-btn";
@use "components/product-card";
@use "components/loader";
@use "components/main-checkbox";
@use "components/popups";

//blocks
@use "blocks/side-filter/side-filter";

.catalog-page {
  position: relative;
  padding: 0 1.6rem;

  &__breadcrumb {
    @media (max-width: variables.$mobile) {
      padding: 1.2rem 0;
    }
  }

  &__side-filter-btn {
    margin-top: 1.6rem;
  }

  &__bg {
    opacity: .2;
    position: absolute;
    width: 100%;
    top: 44rem;
    object-fit: cover;
    z-index: -1;
    left: 0;

    @media (max-width: variables.$mobile) {
      display: none;
      bottom: 0;
      opacity: 1;
      left: 0;
    }
  }

  &__product-list {
    grid-area: catalog;
    padding-bottom: 6.5rem;

    @media (max-width: variables.$mobile) {
      grid-area: unset;
    }
  }

  &__title {
    grid-area: title;
    @media (max-width: variables.$mobile) {
      grid-area: unset;
    }
  }

  &__top-filter {
    grid-area: top-filter;
    justify-self: end;
    margin-bottom: 2.6rem;
    @media (max-width: variables.$mobile) {
      grid-area: unset;
      justify-self: stretch;
      margin-bottom: 3.2rem;
      margin-top: 2.4rem;
    }
  }

  &__side-filter {
    grid-area: side-filter;

    @media (max-width: variables.$mobile) {
      grid-area: unset;
      position: fixed;
      top: calc(7.3rem + 4rem);
      width: 100%;
      background: transparent;
      overflow: scroll;
      transition: background .3s, left .3s .6s;
      left: -100%;
      z-index: 4;

      &._opened {
        left: 0;
        transition: background .3s, left 0s;
        background: rgba(0, 0, 0, .6);

        & .side-filter__container {
          transform: translateX(0);
        }
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "title title"
        "top-filter top-filter"
        "side-filter catalog"
        "side-filter loader";

    @media (max-width: variables.$mobile) {
      grid-template-columns:1fr;
      grid-template-areas: unset;
    }
  }


  &__loader {
    grid-area: loader;
    @media (max-width: variables.$mobile) {
      grid-area: unset;
    }
  }

  &__product-page {
    display: grid;
    grid-template-columns: repeat(4, 20.4rem);
    grid-gap: 2.8rem;

    @media (max-width: variables.$mobile) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.4rem .8rem;
    }
  }

  &__product-card {

  }

}