@use "common/variables";
@use "common/fonts";
@use "common/common";

//header
@use "blocks/main-header/main-header";

//footer
@use "blocks/main-footer/main-footer";

//components
@use "components/breadcrumb";
@use "components/stats";
@use "components/main-btn";

//main-content
@use "blocks/detail-top-block/detail-top-block";


//page styles
.detail-page {
  background: url("../images/desktop/detail-page/top-block-bg.png") right 30rem no-repeat;
  background-size: 42rem 52.5rem;

  @media (max-width: variables.$mobile) {
    background: none;
    padding: 0 1.6rem;
  }
}