$mobile: 667px;
$light-green: #E9F6E9;
$light-gray: #B3BBB6;
$light-blue:  #B7D8FF;
$black: #001D0B;
$green: #549D60;
$white: #FFFFFF;
$font-light: "inter-light";
$font-regular: "inter-regular";
$font-medium: "inter-medium";
$font-semi: "inter-semi";